{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/posts.scss" "dest" "css/posts.css") }}
{{ end }}

{{ define "main" }}

{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}

<style>
  .row {
    display: flex;
  }
  .column {
    flex: 100%;
    width: 400px;
    max-width: 100%;
    height: auto;
  }
  .video-container {
    width: 510px;
    max-width:100%;
    height: calc(100% - 27px);
    border-radius: 30px;
    overflow: hidden;

  }
  video {
    max-width:100%;
    height:auto;
  }
</style>

<body style="background-color:#1e1d1a;overflow-y:hidden; overflow-x:hidden">

  <div class="row" style="margin:auto;padding-top:0px">
    <div class = "column" style="padding-left:5%;padding-top:0px">
      <div class="video-container">
        <a href="/games/jumpers"><video autoplay loop muted>
          <source src="/assets/j4.mp4" type="video/mp4">
          jumpers
        </video>
      </div>
    </div>
    <div class="column" style="padding-top:0px">
      <div class="video-container">
        <a href="/games/jumpers"><video autoplay loop muted>
          <source src="/assets/atsSplash.mp4" type="video/mp4">
          ain't that sweet
        </video>
      </div>
    </div>
  </div>

  <p></p>

  <div class="row" style="margin:auto;padding-top:0px">
    <div class = "column" style="padding-left:5%;padding-top:0px">
      <div class="video-container">
        <a href="/games/jumpers"><video autoplay loop muted>
          <source src="/assets/karSplash.mov" type="video/mp4">
          karen-tastrophe
        </video>
      </div>
    </div>
    <div class="column" style="padding-top:0px">
      <div class="video-container">
        <a href="/games/jumpers"><video autoplay loop muted>
          <source src="/assets/seSplash.mp4" type="video/mp4">
          squarEscape
        </video>
      </div>
    </div>
  </div>

</body>


{{ end }}
