<div class="row" style="margin:auto;padding-top:0px;display:flex">
  <div class="column" style="padding-left:5%;padding-top:0px;flex:33%;width:300px">
    <div class="video-container">
      <video autoplay loop muted>
        <source src="{{index .Params 0}}" type="video/mp4">
        vid
      </video>
    </div>
  </div>
  <div class="column" style="padding-left:5%;padding-top:0px;flex:33%;width:300px">
    <div class="video-container">
      <video autoplay loop muted>
        <source src="{{index .Params 1}}" type="video/mp4">
        vid
      </video>
    </div>
  </div>
  <div class="column" style="padding-left:5%;padding-top:0px;flex:33%;width:300px">
    <div class="video-container">
      <video autoplay loop muted>
        <source src="{{index .Params 2}}" type="video/mp4">
        vid
      </video>
    </div>
  </div>
</div>
